footer.flex {
  justify-content: space-between;
  padding-bottom: 1rem;
}
footer.flex ul {
  gap: 1.9rem;
}
footer.flex ul a {
  color: var(--subtitle);
  font-size: 0.97rem;
}
footer.flex ul a:hover {
  color: var(--blue);
  font-size: 1rem;
}
footer.flex p{
    color: rgba(128, 128, 128, 0.63);
}
@media (max-width: 800px) {
    footer.flex {
        flex-direction: column;
        gap: 2rem;
      }
}